body{
    margin: 0;
    font-family: 'Fredoka One', cursive;
    background-color: lightgray;
    background: url(../images/bg-img.png);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
#game{
    padding: 5rem;
    padding-top: 20px;
    border: 20px solid rgba(31, 92, 179, 0.74);
    margin-top: 20px;
    background-color: rgba(39, 57, 176, 0.56);
}
h1{
    color: #03fdff;
    font-size: 3em;
    
}
#game p{
    font-size: 1.5em;
}
#game p span{
    color: #03fdff;
}
